.botoestagA {
    text-decoration: none;
    color: black;
    font-size: 20px; 
    width: 250px;
    padding-left: auto;
    padding-right: auto;
}

button {
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 250px;
    display: flex;
}

#botesp {
    margin-top: 40px;
}

#botmed {
    margin-top: 20px;
}

#botproc {
    margin-top: 20px;
}

#centralizarbotoes {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    text-align: center;
}