p {
    font-size: 22px;
    text-align: center;
}

#titulo {
    text-align: center;
}

#botaocadastrar {
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 130px;
    height: 28px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

#inputesp {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

#botcadastrar {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
    width: 180px;
    height: 25px;
    font-size: 15px;
}