p {
    font-size: 20px;
}

#codigo {
    padding-left: 55px;
    padding-left: auto;
    padding-right: auto;
}

#nome {
    padding-left: 60px;
    padding-left: auto;
    padding-right: auto;
}

#valor {
    padding-left: 60px;
    padding-left: auto;
    padding-right: auto;
}

#genero {
    padding-left: 50px;
    padding-left: auto;
    padding-right: auto;
}

#excecao {
    padding-left: 12px;
    padding-left: auto;
    padding-right: auto;
}

#titulo {
    text-align: center;
}

#inputcodigo {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#inputnome {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#inputvalor {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#inputgenero {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#inputexcecao {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#botaocad {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#botaocadprocedimento {
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 180px;
    height: 28px;
    font-size: 15px;
}

input {
    text-align: center;
    width: 180px;
    height: 20px;
    font-size: 15px;
}