p {
    font-size: 22px;
}

#botaoatualizar {
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 170px;
    height: 28px;
    font-size: 15px;
}

input {
    text-align: center;
    width: 180px;
    height: 25px;
    font-size: 15px;
}