p {
    font-size: 22px;
    text-align: center;
}

#titulo {
    text-align: center;
}

.subtitulo {
    text-align: center;
}

#botaoatualizar {
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 170px;
    height: 28px;
    font-size: 15px;
}

#inputid {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

#inputnome {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

#botaoatu {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
    width: 180px;
    height: 25px;
    font-size: 15px;
}